head, body {
    border-collapse: collapse;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.canvas-wrapper {
    display: block;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    margin: 0;
    padding: 0;
}
