<h1  [style.color]="isAvailable?'green':'red'" [style.font-size]="isMeasureSuccess? '60px':'50px'"
    class="Measure">{{isMeasureSuccess ? title : fail}}</h1>
<div class="sonar">
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="depth_chart">
          <div class="depth_chart" *ngFor="let track of trackArray">
            <p class="depth_chart">{{track}}</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div>
          <p class="item">Battery level
          <p>
          <div class="sensor_number">{{sonarClientData.batteryLevel}}</div>
        </div>
        <div>
          <p class="item">Water temp.</p>
          <div class="sensor_number">{{sonarClientData.waterTemp}}</div>
        </div>
        <div *ngIf="crd">
          <p class="item">Longitude</p>
          <p class="sensor_number">{{crd.coords.longitude}}</p>
          <p class="item">Latitude</p>
          <p class="sensor_number">{{crd.coords.latitude}}</p>
          <p class="item">Accuracy</p>
          <p class="sensor_number">{{crd.coords.accuracy}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
